<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
 <dict>
  <key>items</key>
  <dict>
   <key>assets</key>
   <array>
    <dict>
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>
     <string>https://asia-mars.oss-ap-southeast-1.aliyuncs.com/ios/newRelease.ipa</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>display-image</string>
     <key>need-shine</key>
     <integer>0</integer>
     <key>url</key>
     <string>https://asia-mars.oss-ap-southeast-1.aliyuncs.com/ios/lALPDhJzubQeH1vNBADNBAA_1024_1024.png_720x720g.jpg</string>
    </dict>
   </array>
   <key>metadata</key>
   <array>
    <dict>
     <key>bundle-identifier</key>
     <string>com.zxsd.smile.ios.app</string>
     <key>bundle-version</key>
     <string>1.0.0</string>
     <key>kind</key>
     <string>software</string>
     <key>title</key>
     <string>薪朋友</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>